<section class="p-15 p-md-30">
  <div class="row align-items-stretch">
    <div class="col-12 col-md-6 col-lg-6 col-xl-9 mb-20 mb-md-0">
      <job-hub-overall-traffic-panel></job-hub-overall-traffic-panel>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-3 mb-20 mb-md-0">
      <job-hub-page-visit-overview-panel></job-hub-page-visit-overview-panel>
    </div>
  </div>
  <div class="row mt-30">
    <div class="col">
      <job-hub-customer-map-panel></job-hub-customer-map-panel>
    </div>
  </div>
</section>
