<section class="d-flex flex-column h-100">
  <div class="room-header mb-20 d-flex align-items-center">
    <h4 class="font-weight-normal font-28 text-primary">{{ chat$ | async | opponent | fullName }}</h4>
  </div>
  <div class="flex-fit-parent pretty-scroll d-flex flex-column justify-content-start pr-10" #messageArea>
    <ng-container *ngFor="let group of messagesGroupedByDate">
      <div class="d-flex justify-content-end mt-30 mb-40 date-splitter">
        <span class="text-primary font-15 font-weight-medium px-20 d-block bg-color-athens-gray">{{ group.date | recentDay }}</span>
      </div>
      <job-hub-chat-bubble *ngFor="let message of group?.messages" [message]="message" [user]="chat$ | async | messageFrom : message"></job-hub-chat-bubble>
    </ng-container>
  </div>
  <div class="mt-20">
    <job-hub-chat-input (send)="send($event)"></job-hub-chat-input>
  </div>
</section>
