<p class="color-mine-shaft mb-20 font-weight-medium">Revenue Growth</p>
<div class="d-flex flex-column flex-grow-1 justify-content-between bg-white rounded shadow-1 p-20 position-relative overflow-hidden">
  <div class="chart-renderer">
    <ngx-charts-area-chart
      *ngIf="!isLoading"
      [animations]="true"
      [gradient]="true"
      [scheme]="colorSchema"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [showGridLines]="true"
      [xAxisTickFormatting]="xAxisTickFormattingFn"
      [xAxis]="true"
      [yAxis]="true"
      [timeline]="true"
      [results]="revenue">
    </ngx-charts-area-chart>
  </div>
</div>
