<div class="bg-white pt-3 pb-20 d-flex flex-column align-items-center font-weight-medium position-relative">
  <job-hub-avatar [src]="user.avatar" [size]="100"></job-hub-avatar>
  <div class="font-12 text-primary pt-15" *ngIf="userRole !== 'Customer'">Project Consultant</div>
  <div class="font-14 color-mine-shaft" [class.pt-15]="userRole === 'Customer'">{{user.firstName + ' ' + user.lastName}}</div>
  <div class="font-10 color-dove-gray mb-5 font-weight-normal" *ngIf="userRole">{{ userRole }}</div>
  <a *ngIf="allowViewProfile" class="text-primary font-10" [routerLink]="[ROUTES.admin.root, ROUTES.admin.customers, user.id] | routeToAbsolute">View Profile</a>
  <div class="d-flex justify-content-center px-20 w-100">
    <job-hub-send-message-button [projectId]="project.id" [user]="user" *ngIf="!readonly"></job-hub-send-message-button>
  </div>
</div>
